# macOS
.DS_Store

# Nix
/.direnv/
/.envrc

# Emacs
*~

# GradBench
/artifacts/
/run/
/stats/

# Rust
/target/

# JavaScript
dist/
node_modules/

# Python
__pycache__/

# C++
*.o
/cpp/json.hpp
bin/

# Tapenade
/tapenade_3.16.tar
/tapenade_3.16/
