:root {
  --dark_blue: #336699;
  --blue_grey: #3e4756;
}

* {
  margin: 0;
}

body {
  font-family: sans-serif;
}

/* Banner */
.header {
  padding: 10px;
  text-align: left;
  background-image: linear-gradient(to right, var(--dark_blue), Gainsboro);
  color: white;
  font-size: 60px;
}
.subtitle {
  padding-left: 15px;
  font-size: 25px;
}

li::marker {
  color: var(--blue_grey);
}

/* table */
table {
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

th,
td {
  border: 1px solid var(--dark_blue);
  font-size: 1em;
  padding: 10px 10px;
  width: 9%;
  height: 25px;
  background-color: Gainsboro;
}

.no-border {
  border: none;
  background-color: transparent;
}

.tool,
.module {
  background-color: var(--dark_blue);
  color: white;
  font-weight: bold;
  border: none;
}

.tool:hover,
.module:hover {
  background-color: var(--dark_blue);
  opacity: 0.9;
}

.emoji {
  color: #588970;
  font-size: 24px;
}

tr:first-child th:nth-child(2) {
  border-top-left-radius: 10px;
}

tr:nth-child(2) td:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* subtitles */
.subheading {
  padding: 10px;
  font-size: 36px;
  color: var(--blue_grey);
}

.row {
  display: flex;
  align-items: center;
  padding: 10px;
}

.fillspace {
  flex-grow: 1;
  background-color: var(--blue_grey);
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

/* general */
.container {
  display: flex;
  align-items: flex-start;
}

.text {
  padding: 0px 50px 50px 50px;
}

.hidden {
  font-size: 0px;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}
/* mouse over link */
a:hover {
  color: #cc7f97;
}

/* Medium Screen */
@media (max-width: 1289px) {
  .header {
    font-size: 43px;
    padding: 5px;
  }
  .subtitle {
    font-size: 20px;
  }
  table {
    font-size: 0.7rem;
    padding-left: 10px;
  }
}

/* Small Screen */
@media (max-width: 1000px) {
  .header {
    font-size: 40px;
  }
  .subtitle {
    font-size: 14px;
  }
  .row {
    align-items: left;
    padding: 0px;
  }
  .subheading {
    font-size: 24px;
    padding: 5px;
    text-align: left;
    margin-left: 0;
  }
  .fillspace {
    margin: 0;
    /* padding: 6px; */
  }
  table {
    padding-left: 0px;
  }
  th,
  td {
    padding: 2px 2px;
    width: 9%;
  }

  .emoji {
    color: #588970;
    font-size: 10px;
  }
  /*  */

  .container {
    flex-direction: column;
    align-items: stretch;
  }
  .text {
    padding: 0px 20px 20px 20px;
  }
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .header {
    font-size: 36px;
  }
  .subtitle {
    font-size: 0px;
  }
  .hidden {
    font-size: medium;
    padding: 10px;
  }
  table {
    font-size: 0.42rem;
  }
  .text {
    padding: 10px;
  }
}
