/*
 * This stylesheet follow the BEM methodology
 * see: https://getbem.com/introduction/
 */

:root {
  --font: sans-serif;
  --color-bg-0: #ffffff;
  --color-bg-1: #eeeeee;
  --color-bg-2: #dddddd;
  --color-border-0: #777777;
  --color-text: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-0);
  font-family: var(--font);
  color: var(--color-text);
}

.section {
  padding: 0 32px;
}

.header {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  background-color: var(--color-bg-1);
  flex-wrap: wrap;
  row-gap: 16px;
}
.header__logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.header__title {
  margin: 0;
  margin-right: auto;
}
.header__title a {
  text-decoration: none;
}

.date-picker {
  display: flex;
  gap: 8px;
}
.date-picker__button {
  background-color: var(--color-bg-2);
  border: 1px solid var(--color-border-0);
  border-radius: 2px;
}

.table {
  background-color: #ccc;
  padding: 5px;
  width: fit-content;
}

.column-header {
  align-items: center;
  display: flex;
  padding: 5px;
  writing-mode: vertical-lr;
}

.row-header {
  align-items: center;
  display: flex;
  font-weight: bold;
  padding: 5px;
}

.header-clickable {
  cursor: pointer;
  text-decoration: underline;
}

.header-clickable:hover {
  background-color: #bbb;
  text-decoration: none;
}

.cell {
  align-items: center;
  display: flex;
  justify-content: center;
}
.cell__duration {
  font-size: 12px;
}
.cell__unit {
  font-size: 8px;
}

.incorrect {
  background-color: lightpink;
  color: red;
}

.correct {
  background-color: lightgreen;
  color: green;
}

.chart-box {
  margin: 25px;
}
